/*
Colors used:
Text Color (Black): #0A090C;
Primary Color (Dark blue): 040B5C
Secondary Color (Dark teel): #0A393C
Secondary Color (Light teel): #2F666D;
Secondary Color (Blue): #93DDEF
Secondary Color (Ice Gray): #FAFAFA
Secondary color (yellow): #F8D210
*/
* {
  box-sizing: border-box;
}
/* typography */
body {
  font-family: 'Lato', serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6;
  color: #0A090C;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 900;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight: 300;
}

header {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  color: #0A090C;
}

main {
  font-family: 'Lora', serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  color: #0A090C;
}

footer {
  font-family: 'Lora', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  color: #0A090C;
}

/* image */
img {
  width: 100%;
}

/* links and buttons */
a {
  color: #040B5C;
  text-decoration: none;
}

a:hover {
  color: #040B5C;
  text-decoration: underline;
}

a:visited {
  color: #040B5C;
}

a:active {
  color: #040B5C;
}

a:hover,
a:focus {
  color: #1178B3;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #ffffff;
  color: #040B5C;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #040B5C;
  transition: 0.2s opacity;
}

.button:visited {
  background-color: #ffffff;
  color: #040B5C;
}

.button:hover {
  background-color: #040B5C;
  color: #ffffff;
}

.button:active {
  background-color: #ffffff;
  color: #040B5C;
}

.button.contact {
  display: inline-block;
  background-color: #ffffff;
  color: #040B5C;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #040B5C;
  transition: 0.2s opacity;
}

.button.contact:hover {
  background-color: #040B5C;
  color: #ffffff;
}

.button.contact:visited {
  background-color: #ffffff;
  color: #040B5C;
}

.button.contact:hover {
  background-color: #040B5C;
  color: #ffffff;
}

.button.contact:active {
  background-color: #ffffff;
  color: #040B5C;
}
/* Layout styling */
header {
  background-color: #FAFAFA;
    text-align: unset;
    padding: 10px 0;
    box-shadow: 0 2px 4px 0 #e0e0e0;
    position: relative;
}
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#hero h1 {
  text-align: center; /* Centers text */
}
#hero span { /* For the intro line */
  display: block;
}
#hero {
  background-color: #FAFAFA;
}
#hero {
  background-color: #FAFAFA;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
.logo {
  max-width: 250px;
  text-align: center;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: capitalize;
  font-weight: 400;
  color: #040B5C;
}
main {
  padding-top: 99px;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 10px;
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}
